.sidebar {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    
    width: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
    padding: 1rem;
    transition: all 1s ease;
    z-index: 10;
    background-color: #ffff;
}

.sidebar.reduced-width {
    width: 60px;
  }

.pic-heading {
    margin: auto;
    
}


  /* When sidebar is reduced, hide the h3 */
.reduced-width .side h3 {
    display: none;
}

.sidebar i {
    font-size: 20px;
    transition: all 0.5s ease;
}

.sidebar h1 {
    
    margin: auto;
    transition: all 1s ease;
    margin-bottom: 3rem;
}

.content_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}

.side {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    margin-bottom: 30px;
    padding: 1rem;
    transition: all 1s ease;
    cursor: pointer;
    align-items: center;

}

.profile_side img {
    width: 50px;
    height: 55px;
    border-radius: 50%;
}


.side:hover {
    background-color: #dbdbdb;
    border-radius: 5px;

}

box-icon {
    font-size: 9px;
    transition: all 0.5s ease;
}

.side:hover box-icon {
    scale: 1.2;
}
.side:hover i {
    scale: 1.2;
}


.search_container {
    position: fixed;
    width: 500px;
    height: 100%;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 1s ease;
    background-color: #ffff;
    z-index: 1;
}


.search_container_not_active {
    left: -1400px;
}
.search_container_active {
    left: 6.4%;
}

.search_container h1
{
    margin: 2rem 3rem;
}

.search_container .search_form {
    width: 87.5%;
    
    padding: 2rem;
    position: relative;
    border-bottom: 2px solid #dbdbdb;
}

.search_form input {
    width: 87.5%;
    padding: 0.5rem;
    border: 0.5px solid #dbdbdb;
    background-color: rgb(98%, 98%, 98%);
    border-radius: 2px;
    padding-left: 2.5rem;
    
}

.search_form box-icon {
    position: absolute;
    left: 8%;
    top: 39%;
}
.search_form i {
    position: absolute;
    right: 12%;
    top: 42%;
}

/* .search_form i {
    display: none;
} */
.search_form input:focus {
    border: 0.2px solid #222;
    outline: none;
}

.search_form input:focus + .fa-square-xmark {
    display: block; /* Make sure the X-mark is visible on focus */
    cursor: pointer;
}


.more_side{
    position: relative;
}

.more_content{
    position: absolute;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    top: 55%;
    
    left: 59px;
    width: 150px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* height: 80px; */
    padding-top: 2rem;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1111;

}

.more-not-active {
    display: none;
}
.more-active {
    display: block;
}

.more_inside {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 0.7rem;
    
}

i, svg {
    transition: all 0.5s ease;
}

.more_side .more_content .more_inside i,
.more_side .more_content .more_inside box-icon {
    scale: 1;
    
}

.more_inside:hover {
    background-color: #dbdbdb;
    border-radius: 5px;
}

.more_inside:hover i,
.more_inside:hover box-icon,
.more_inside:hover svg {
    scale: 1.2;
}


/* loading css */
.loading-spinner {
    position: absolute;
    right: 12%;
    top: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
.loading-spinner-1 {
    position: absolute;
    right: 48%;
    top: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  
  .spinner-1 {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin-1 1s linear infinite;
  }
  
  @keyframes spin-1 {
    to {
      transform: rotate(360deg);
    }
  }



.search-cont {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: scroll
}


.search-cont .inside-search-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inside-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.inside-logo {
    width: 55px;
    height:55px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-logo img {
    
    border-radius: 50%;
    border: 2px solid black;
}

.inside-content a {
    display: inline-block;
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
    font-size: 18px;
    font-weight: 500;
}


.inside-content p {
    font-style: italic;
}


.friend-content button:disabled {
    background-color: #dbdbdb;
    padding: 1rem 1rem;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor:not-allowed;
}

.friend-content .btn-accepted, 
.friend-content .btn-none {
    background-color: #1877f2;
    padding: 1rem 1rem;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.friend-content .btn-pending {
    background-color: #dbdbdb;
    padding: 1rem 1rem;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}


.notification-cont {
    width: 90%;
    height: 100%;
    padding: 2rem;
    /* background-color: #222; */
    display:flexbox;
    justify-content: center;
    overflow: auto;
    
}



.notification-card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.4s ease;
    padding: 1rem;
    border-radius: 8px;
}
.notification-card:hover {
    background-color: #dbdbdb;
}

.notification-card-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.inside-content h5 {
    font-size: 18px;
    font-weight: bold;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

/* .inside-content */

.notification-card-body,
.notification-card-body p {
    width: 100%;
    text-align:left;
}

.notification_side {
    position: relative;
}

.notification-count{
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


